// .clients {
//     padding-top: 60px;
//     padding-bottom: 60px;
    
//     // padding-top: 94px;
//     // padding-bottom: 94px;
// }

.clients__list {
    @media screen  and (max-width: ($desktop - 1)) {
            flex-wrap: wrap;
        }
    display: flex;
    margin: -15px;
    justify-content: center;
    list-style: none;

}

.clients__item {
    width: calc(100% / 2 - 30px);
    height: 92px;
    margin: 15px;
    @media screen and (min-width: $tablet) {
   flex-basis: calc((100% - 90px) / 3);
        }
}



.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    border: 1px solid $svg-color;
    border-radius: 4px;
    color: $svg-color;

    transition: $anima;


   &:hover,
   &:focus {
            color: $brand-color;
            border: 1px solid $brand-color;
        }
}



.clients__icon {
    fill: currentColor;

    &:hover,
    &:focus {
        fill: currentColor;
    }
}

