.page-header {
	position: relative;

	border-bottom: 1px solid #ececec;
	@media screen and (max-width: ($tablet - 1)) {
		padding: 10px 0 9px 0;
	}
}

.page-header__container {
	display: flex;
	align-items: center;
	padding: 0 15px;
	@media screen and (max-width: ($tablet - 1)) {
		justify-content: space-between;
	}
}

.logo {
	font-family: $secondary-font;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: 0.03em;

	color: $brand-color;
	@extend %link;
}

.logo__header {
	color: $text-color;
}
