.hero__title {
	text-align: center;
	font-weight: 900;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: $accent-color;
	font-size: 26px;
	line-height: 1.6;
}

.hero {
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/mobile/hero.jpg);

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/mobile/hero@2x.jpg);
	}

	@media screen and (min-width: $tablet) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/tablet/hero.jpg");

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../images/tablet/hero@2x.jpg");
		}
	}
	@media screen and (max-width: ($desktop - 1)) {
		padding: 118px 0;
	}

	@media screen and (min-width: $desktop) {
		max-width: 1600px;
		padding: 200px 0;

		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("./../images/hero.jpg");

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("./../images/hero@2x.jpg");
		}
	}
}

.hero__button {
	margin-top: 30px;
	padding: 10px;
	@extend %button;
}
