.menu {
	display: block;
	padding: 0;
	margin: 0;
	@extend %list;

	@media screen and (min-width: $tablet) {
		display: flex;
		align-items: center;
		margin-left: 88px;
		gap: 50px;
	}
}
.menu__link {
	color: $text-color;

	@media screen and (max-width: ($tablet - 1)) {
		padding: 10px;
	}

	@media screen and (min-width: $tablet) {
		display: inline-flex;
		padding: 32px 0 31px;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.02em;
	}
}

.menu-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;

	min-height: 40px;
	min-width: 40px;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;

	@media screen and (min-width: $tablet) {
		display: none;
	}
	&:hover,
	&:focus {
		fill: $accent-hover-color;
	}
}

.menu-container {
	@media screen and (max-width: ($tablet - 1)) {
		position: fixed;
		top: 0;
		left: 0;

		display: inline-flex;
		flex-wrap: wrap;
		width: 100vw;
		height: 100vh;
		padding: 15px;
		background-color: $accent-color;
		z-index: 999;

		transform: translateX(-100%);
		transition: transform 250ms ease-in-out;
	}

	@media screen and (min-width: $tablet) {
		display: flex;
		align-items: center;
		flex-grow: 2;
		justify-content: space-between;
		// justify-content: space-between;
	}
}

.menu-container.is-open {
	transform: translateX(0);
}

.menu-container .menu-toggle {
	position: absolute;
	top: 16px;
	right: 16px;
	color: #fff;
}

.contacts {
	@media screen and (max-width: ($tablet - 1)) {
		margin-top: auto;
	}
	@media screen and (min-width: $tablet) {
		display: flex;

		gap: 10px;
		font-weight: 500;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.02em;
		color: $body-color;
	}
	@media screen and (min-width: $tablet) and (max-width: ($desktop - 1)) {
		flex-direction: column-reverse;
		justify-content: center;
	}
	@media screen and (min-width: $desktop) {
		flex-direction: row-reverse;
		align-items: center;
	}
}
.menu,
.contacts {
	@extend %list;
}

.menu__link,
.contacts__tel,
.contacts__mail,
.menu-social {
	@extend %link;

	font-family: $main-font;
	text-align: center;
	&--current {
		color: $brand-color;
	}

	@media screen and (max-width: ($tablet - 1)) {
		font-weight: 500;
		font-size: 40px;
		line-height: 1.88;
		letter-spacing: 0.02em;
	}
}
.contacts__link {
	color: $body-color;
	@media screen and (min-width: $tablet) {
		display: inline-flex;
		align-items: center;
		column-gap: 8px;
	}
}

.contacts__tel {
	@media screen and (max-width: ($tablet - 1)) {
		font-size: 34px;
		line-height: 1.18;
		color: $brand-color;
	}
}

.contacts__mail {
	@media screen and (max-width: ($tablet - 1)) {
		font-size: 24px;
		line-height: 1.17;

		color: $body-color;
	}
}
.contacts__icon {
	fill: currentColor;
	@media screen and (max-width: ($tablet - 1)) {
		display: none;
	}
}
.menu-social {
	display: flex;
	flex-wrap: wrap;
	margin-top: auto;

	list-style: none;
	gap: 20px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2222222222;
	letter-spacing: 0.02em;
	color: #2196f3;
	@media screen and (min-width: $tablet) {
		display: none;
	}
}
.menu-social__link {
	color: inherit;
	text-decoration: none;
}
.menu-social__item {
	position: relative;

	&:not(:last-child)::after {
		content: "";
		position: absolute;
		top: 0;
		right: -10px;
		display: block;
		width: 1px;
		height: 22px;
		background-color: rgba(33, 33, 33, 0.2);
	}
}
