// .portfolio-page {
//     padding: 94px 0;
// }

// .filters {
//     display: flex;
//     flex-wrap: wrap;
//     // margin-bottom: 50px;
//     // justify-content: center;
//     margin-bottom: 40px;
//     column-gap: 8px;
//     font-weight: 500;

//     font-size: 16px;
//     line-height: 1.62;
//     letter-spacing: 0.03em;
//     color: $text-color;
//     list-style-type: none;
// }
.filters {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 8px;
    column-gap: 8px;
    
}
.portfolio__filters {
    // margin-bottom: 40px;
    row-gap: 15px;

    @media screen and (max-width: ($tablet - 1))  {
            margin-bottom: 40px;
        }
           @media screen and (min-width: $tablet) {
               margin-bottom: 30px;
               justify-content: center;
           }
}
// .filters__item {
//     @include first-margin (left, 8px);
// }

.filters__button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;

    transition: $anima;

        &:hover,
        &:focus {
            background-color: $brand-color;
            color: $accent-color;
            border: none;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}



.filters__button--current {
    color: $button-accent;
    background-color: $brand-color;
}

.project {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    @extend %list;   
    margin-top: -30px;
    margin-left: -30px;
    
    // margin: calc(-1 * $indent / 2);
}

.card {
    // margin: calc($indent / 2);
    // flex-basis: calc((100% - $indent * $items) / $items);
    // /* flex-basis: calc(100% / $items - $indent); */
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: 100%;
    transition: $anima;


    &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

                @media screen and (min-width: $tablet)  {
                    display: flex;
                    flex-direction: column;
                    flex-basis: calc((100% - 60px)/2);
                }
}



/*-------------------------- */
.card__thumb {
    position: relative;
    overflow: hidden;
}

.card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__text {
    display: flex;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    justify-content: center;
    font-family: $main-font;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: $accent-color;
}

.card:hover .card__overlay {
    transform: translateY(0);
    opacity: 1;
}

/*------------------------*/

.card__wrapper {
        flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #eeeeee;
}

.card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $text-color;
}

.card__descr {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}