/*   team-page    */
.team {
       background-color: $section-color;
}

.team__title {
    margin-bottom: 10px;
    // margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $text-color;
}
.team__list {
    @media screen and (min-width: $tablet) {
        display: flex;
        margin: -15px;
    }
    @media screen and (max-width: ($desktop - 1)){
               flex-wrap: wrap;
           }
}
.team__card {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 24px;
    // padding-bottom: 30px;
    background: $accent-color;
    border: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__item {
    @media screen and (max-width: ($tablet - 1)) {
            @include first-margin (top, 30px);
    }
        @media screen and (min-width: $tablet) {
            margin: 15px;
                flex-basis: calc((100% - 60px) / 2);
        }
}

.team__desc {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
